$body-color-dark: $white;
$body-bg-dark:                      $gray-900 !default;
$secondary-text-emphasis-dark: #FFA3A3;
$secondary-bg-subtle-dark: #FFA3A3;
$body-secondary-color-dark: #FFA3A3;
$body-secondary-bg-dark: #FFA3A3;
$link-color-dark: #80BFFF;
