@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

// Custom.scss

// Option A: Include all of Bootstrap
;
@import "./overrides";
@import "./overrides-dark";

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// Then add additional custom code here


nav {
  figure {
    max-width: 130px;
  }
}

.fa-duotone {
  --fa-primary-color: #333333;
  --fa-secondary-color: #FF7373;
  --fa-secondary-opacity: 1
}
