@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

// Custom.scss

// Option A: Include all of Bootstrap
@import "./overrides";
@import "./overrides-dark";

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// Then add additional custom code here

nav {
  figure {
    max-width: 130px;
  }

  .offcanvas-header {
    button {
      background-color: $white;
      border: 0;
    }
  }

  .notification-alert {
    display: none;
  }
}

.fa-duotone {
  --fa-primary-color: #333333;
  --fa-secondary-color: #ff7373;
  --fa-secondary-opacity: 1;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.user-bio div img {
  width: 131px;
}

.feed-container {
  row-gap: 20px !important;
}

.custom-cursor,
.avatar-option {
  cursor: pointer;
}

.btn-overlap .btn {
  margin-right: -10px;
}

.profile-gallery-img {
  object-fit: cover;
  height: 95%;
  width: 95%;
  border-radius: 5px;
}

.profile-image {
  aspect-ratio: 1 !important;
}

.selected-avatar {
  border: 5px solid #ff7373;
}

@include media-breakpoint-up(md) {
  .search-bar {
    width: 500px !important;
  }

  .custom-width {
    width: 50% !important;
  }

  .feed-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 30px !important;
  }
}

@include media-breakpoint-up(xl) {
  .feed-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
